body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background: #222;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  text-align: center;
}

.gallery img {
  width: 250px;
  margin: 10px;
  border-radius: 8px;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}
